:root {
	/* LAYOUT */

	--lyt-mobile: 375px;
	--lyt-desktop: 1440px;

	--lyt-mobile-em: 40em;

	/* COLORS */
	--clr-primary-soft-blue: hsl(215, 51%, 70%);
	--clr-primary-cyan: hsl(178, 100%, 50%);
	--clr-neutral-main-dark-blue: hsl(217, 54%, 11%);
	--clr-neutral-card-dark-blue: hsl(216, 50%, 16%);
	--clr-dark-blue-line: hsl(215, 32%, 27%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-neutral-dark-blue-opacity10: hsl(217, 54%, 10%);
	--clr-neutral-dark-blue-55-opacity11: hsl(217, 55%, 11%);

	/* TYPOGRAPHY */

	--fs-base: clamp(1.125rem, 1vw + 0.1rem, 2rem);

	/* FONT */
	--ff-outfit: "Outfit", sans-serif;
	--fw-300: 300;
	--fw-400: 400;
	--fw-600: 600;
}

*,
**::before,
**::after {
	box-sizing: border-box;
	font: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	font-size: var(--fs-base);
	background-color: var(--clr-neutral-main-dark-blue);
	font-family: "Outfit", sans-serif;
	vertical-align: baseline;
	overflow: auto;
	min-height: 100vh;
}

.main {
	display: grid;
	min-height: 100vh;
	overflow: auto;
}

.card {
	background-color: var(--clr-neutral-card-dark-blue);
	border-radius: 0.8em;
	padding: min(1.2em, 1.4em);
	margin: min(1em, 0.5em);
	align-self: center;
	justify-self: center;
	max-width: max(20em, 10em);
	box-shadow: 2px 0.8em 0em 0.8em var(--clr-neutral-dark-blue-opacity10), 0.5em 0.5em 0em 2em var(--clr-neutral-dark-blue-55-opacity11);
}

.card-header {
	padding-bottom: 0.9rem;
	border-bottom: 0.1em solid var(--clr-primary-soft-blue);
}

.card-header--title {
	color: var(--clr-white);
	font-weight: var(--fw-600);
	font-size: min(1.6rem, 2rem);
}

.card-header--subtitle {
	color: var(--clr-primary-soft-blue);
	font-weight: var(--fw-300);
}

.card-header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header-info--eth {
	text-align: center;
}

.card-info--img {
	max-width: 100%;
}

.card-info-days--span {
	color: var(--clr-primary-soft-blue);
	font-size: clamp(1rem, 1rem);
}

.card-info-eth--span {
	color: var(--clr-primary-cyan);
	font-size: clamp(1rem, 1rem);
}

.card-footer {
	display: flex;
	align-items: center;
	margin-top: 1em;
}

.card-footer--img {
	border: 1px solid var(--clr-white);
	border-radius: 4em;
	max-width: min(2em, 80%);
}

.card-footer--span {
	padding-left: 0.8em;
	color: var(--clr-primary-soft-blue);
	font-weight: var(--fw-300);
	font-size: clamp(1rem, 0.8rem, 1rem);
}

.card-footer--anchor {
	color: var(--clr-white);
	text-decoration: none;
}

.card-footer--anchor:active {
	text-decoration: underline;
}

.equilibrium-image {
	max-width: 100%;
	margin: auto;
	border-radius: 0.5em;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
